---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Australian Marketing Consultants</title>
    </head>
    <body class="bg-background">
        <Nav />
        <slot />
        <Footer />
    </body>
</html>
